DOCKER_MARIADB_VERSION=latest
DOCKER_NGROK_VERSION=alpine
DOCKER_PRESTASHOP_VERSION=8.0.0
DOCKER_NETWORK_NAME=ps_network

NGROK_TOKEN=xxxxxxx
NGROK_HOSTNAME=your-hostname.ngrok-free.app

EXT_PORT_PHPMYADMIN=8888
EXT_PORT_PRESTASHOP=8000
EXT_PORT_NGROK=4040

ADMIN_MAIL=admin@example.com
ADMIN_PASSWD=yourpassword
